<div class="card">
    <div class="card-body">
            <div class="h2">
               
                <p>{{ author.get_full_name }}</p>
            </div>
            <div class="h3 text-muted">
                
                 <p>{{ author.username }}</p>
            </div>
    </div>
    <ul class="list-group list-group-flush">
            <li class="list-group-item">
                    <div class="h6 text-muted">
                    Подписчиков: {{ followers_count }} <br />
                    Подписан: {{ following_count }}
                    </div>
            </li>
            <li class="list-group-item">
                    <div class="h6 text-muted">
                        
                        <p>Записей: {{ post_count }}</p>
                    </div>
            </li>
         
            <li class="list-group-item">
                {% if following %}
                <a class="btn btn-lg btn-light" 
                        href="{% url 'profile_unfollow' author.username %}" role="button"> 
                        Отписаться 
                </a> 
                {% elif user != author %}
                <a class="btn btn-lg btn-primary" 
                        href="{% url 'profile_follow' author.username %}" role="button">
                Подписаться 
                </a>
                {% endif %}
            </li> 
    </ul>
</div>